@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@font-face
  font-family SVN-Gilroy
  src url("/fonts/gilroy-font/SVN-Gilroy Regular.ttf")
  font-weight 600
@font-face
  font-family SVN-Gilroy-SemiBold
  src url("/fonts/gilroy-font/SVN-Gilroy SemiBold.ttf")
@font-face
  font-family SVN-Gilroy-Bold
  font-weight 800
  font-style normal
  font-display auto;
  src url("/fonts/gilroy-font/SVN-Gilroy Bold.ttf")
*
  box-sizing: border-box
body
  margin 0
  padding: 0
  height 100vh
  width: 100vw
  background-color var(--light)
input 
  width: 100%
  background: #FFFFFF
  border: 2px solid #BFDAEB;
  border-radius: 5px
  height: 55px   
  font-size 14px
  font-family SVN-Gilroy-SemiBold
  padding: 17px
  -webkit-transition: 0.5s
  transition: 0.5s
  outline: none;
input:focus  
  border: 2px solid #2693FF
.small
  font-size 14px
.verySmall  
  font-size 12px
.medium
  font-size 18px
.regular
  font-family SVN-Gilroy  
.veryStrong  
  font-size 27px
.semi-bold
  font-family SVN-Gilroy-SemiBold
.bold
  font-family SVN-Gilroy-Bold
.mb-5
  margin-bottom: 5px
.mb-15
  margin-bottom: 15px
.mb-25
  margin-bottom: 25px
.mb-30
  margin-bottom: 30px
.mb-50
  margin-bottom: 50px
.mt-5
  margin-top: 5px
.mr-5
  margin-right: 5px
.colorDark
  color var(--dark)
.colorDarker  
  color var(--darker)  
.colorDarkMedium 
  color var(--dark-medium)    
.colorLight
  color var(--light)  
.colorDanger
  color var(--danger)    
.backColorDanger
  background-color var(--danger)    
.colorAlert
  color var(--alert)    
.backColorAlert
  background-color var(--alert)   
.backGreenSpecial  
  background-color var(--green-special) 
.responsive
  width: 100%  
button
  height: 55px
  border-radius: 5px  
  border: 0px
.primary
  background-color: var(--primary)  
  color: white
  font-size 14px
  font-family SVN-Gilroy-Bold
  &:hover 
    background-color: #06744c;  

